modules = ["nodejs-20"]

[nix]
channel = "stable-24_05"
packages = ["gradle"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Backend"

[[workflows.workflow]]
name = "Backend"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "./gradlew run"
waitForPort = 8000

[deployment]
run = ["sh", "-c", "./gradlew run"]
